.header {
  background-color: blue;
  display: flex;
  align-items: center;
}

.header__logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 10px;
}
.header__title {
  color: white;
  font-size: 24px;
  margin-left: 10px;
  align-items: center;
  display: flex;
}
.header__spacer {
  display: flex;
  flex-direction: row;
}
.header__nav {
  margin-left: auto;
  margin-right: 20px;
  display: flex;
  gap: 15px;
}
.header__nav-button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.header__nav-dropbuttons {
  background-color: #1e90ff;
  color: white;
  padding: 10px 16px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-weight: 600;
}
.header__nav-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}
